$text: #000;
$text-light: #fff;
$text-muted: #929292;

$border-transparent: rgba(255, 255, 255, 0.5);
$border-more-transparent: rgba(255, 255, 255, 0.25);
$border: #D2D2D2;

$btn-bg: #FFD531;
$header-bg: #1B1B1B;
$dark-bg : #000;